
* { 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.footer{
    text-align: center;
    background-color: #2f5268;
    padding: 1%;
    height: 80px;
}
.footer a{
    color: azure;
}
ooter a:hover{
    color: aquamarine;
}
.roboto{
    font-family: Roboto;
    font-size: 25;
}