
<<<<<<< HEAD
=======
* { 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
>>>>>>> f19b7e626571f3f3b702f0c65952af7d5b9d6753
.footer{
    background-color: #2f5268;
}
.footer a{
    color: azure;
}
footer a:hover{
    color: aquamarine;
}
.roboto{
    font-family: Roboto;
    font-size: 25;
}